:root{
    --primary: #161A30;
    --bg: #F0ECE5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--primary);
    /* min-height: 2000px; */
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo img{
    width: 100px;
    padding-block: 10px;
  }

.navbar .navbar-nav ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #000000;
    border-radius: 100px;
}

.navbar .navbar-nav a{
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    transition: 0.2s linear;
}


.navbar .navbar-nav li:hover a {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

.navbar .navbar-extra ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #000000;
    border-radius: 100px;
}

.navbar .navbar-extra a{
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    transition: 0.2s linear;
}

.navbar .navbar-extra a:hover{
    color: var(--bg);
}

.navbar .navbar-extra a::after{
    content: '';
    display: block;
    padding-bottom: 0.001rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-extra a:hover::after{
    transform: scaleX(1);
}

/* Hero Section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1)8%, rgba(255,255,255,0) 55%);
}

.hero .content{
    padding: 1.4rem 7%;
    padding-block: 1.4rem 5%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 5.5em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    line-height: 1.2;
}

.hero .content p{
    font-size: 1.4rem;
    margin-top: 0.5rem;
    line-height: 1.4;
    color: white;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    mix-blend-mode: difference;
}

.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

/*About */
.about {
    display: flex;
    flex-direction: row;
    margin-block: 50px;
    margin-right: 50px;
    align-items: center;
}

.about article{
    font-size: 1.3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.4rem 7%;
}   

.about aside {
    flex: 1;
    display: flex;
    flex-direction: row;
}

/* Styling for card */
.card {
    width: 200px;
    /* max-width: 500px; */
    height: 300px;
    /* max-height: 500px; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 190px;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card-content p {
    font-size: 1rem;
    color: #666;
}

/* Styling untuk headline artikel */
.artikel-headline {
    text-align: center; 
    margin-bottom: 50px; 
}

.artikel-headline h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.artikel-headline p {
    font-size: 1rem;
    color: #666;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-article {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-article:hover {
    transform: scale(1.05);
}

.card-article {
    display: flex;
    flex-direction: row-reverse; /* Gambar di sebelah kanan */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff; /* Warna latar belakang */
}


.card-content-article {
    flex: 1;
    padding: 20px;
}

.card-content-article h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card-article img{
    object-fit: cover;
    width: 35%;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

.btn {
    display: block;
    padding: 5px;
    margin-top: 1rem;
    width: 35%;
    text-align: center;
    background-color: var(--bg);
    color: var(--primary);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--primary);
}

.btn:hover {
    background-color: var(--primary);
    color: var(--bg);
}

footer {
    border-top: 1px solid var(--primary);
    color: var(--primary);
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-logo img {
    margin-left: 20px;
    width: 10%;
    height: 10%;
}

.footer-links ul,
.footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.footer-social li {
    display: inline;
}

.footer-links a,
.footer-social a {
    color: var(--primary);
    text-decoration: none;
    margin-right: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 40px;
    padding: 0 20px;
}

.footer-bottom p {
    font-size: 14px;
}


/* Media Queries */

/* Laptop */
@media (max-width: 1366px){
    html{
        font-size: 90%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 7%;
    }

    .navbar .navbar-nav ul{
        display: none;
    }

    .navbar .navbar-logo {
        margin-bottom: auto; 
    }

    .navbar .navbar-extra {
        align-self: flex-end; 
        margin-top: auto;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about aside {
        margin: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .card{
        margin: 20px;
    }

    .artikel{
        display: flex;
        flex-direction: column;
    }
    .card-article{
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        margin-bottom: 20px;
        align-items: center;
    }

    .footer-links ul,
    .footer-social ul {
        margin-bottom: 20px;
    }
}

/* Handphone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}